# This is Git's per-user configuration file.
[user]
  name = okamu
  email = shogo@okamu.ro

[alias]
  graph =  !git log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative | less -R
  gh =  !git log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative | less -R
  hg =  !git log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative | less -R
  st = status
  cm = commit
  stt = status -uno
  difff = diff --word-diff
  co = checkout
  df = !git diff --color-words | less -RS

[diff]
  color = true
[core]
  excludesFile = /Users/okamu/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
